.disclaimer {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    color: var(--dark-color);
}

.modal-container {
    background-color: transparent;
    cursor: pointer;
}

.modal-container button {
    transition: 0.2s;
}

.modal-container button:hover {
    transform: translateY(5px);
}

.dark-theme .box-shadow {
    box-shadow: var(--dark-theme-box-shadow);
}