.product-listing-page-container .nav-bar {
    position: static;
    background: var(--primary-color);
    margin-bottom: 10rem;
}

.main-product-container {
    overflow: hidden;
    width: 90%;
    margin: auto;
    box-shadow: 2px 2px 10px var(--primary-color);
}

.title-container {
    text-align: center;
    margin: 3rem;
    font-size: 2rem;
}

.product-container {
    margin:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-container img {
    overflow: hidden;
    width:100%;
    object-fit: contain;
    transition: 0.3s;
}

.product-container img:hover{
    transform: scale(1.2);
}

.img-container{
    position: relative;
    margin:1rem;
    overflow:hidden;
    border-radius: 1rem;
}

.img-container img{
    object-fit: cover;
    display:block;
}

.mice-keycap-img-container{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.product-img-txt-overlay{
    font-size: 2rem;
    color:var(--secondary-color) ;
    text-decoration: underline;
    position:absolute;  
    top:1rem;
    left:1rem;
}
.footer{
    margin-top:10rem;
}