.image-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    animation: animate 15s ease-in-out infinite;
    filter: brightness(65%);
}

@keyframes animate {

    0%,
    100% {
        background-image: url(./Images/homepage-bg-img1.webp )
    }

    50% {
        background-image: url(./Images/homepage-bg-img2.webp )
    }
}

.nav-bar {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 3rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.homepage-nav-links {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 500;
}

.homepage-nav-links:hover {
    transform: scale(1.1);
    text-shadow: 2px 2px 5px var(--primary-color);
}

.homepage-nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    font-size: 4rem;
    font-family: "Dancing Script";
    font-weight: 700;
}

.homepage-nav-logo:hover {
    transform: scale(1.001);
    text-shadow: 2px 2px 5px var(--primary-color);
}

.nav-bar-right-side {
    display: flex;
    padding: 1rem;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.input-field-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.5rem;
    gap: 1rem;
    border: solid var(--secondary-color);
    border-radius: 0.5rem;
}

.input-field-icon input {
    border: none;
    color: var(--secondary-color);
    outline: none;
    padding: 0.8rem;
    font-size: inherit;
    background: transparent;
    border-radius: 0.5rem;
}

/* input placeholder color */
.input-field-icon input::placeholder {
    color: var(--secondary-color);
    font-weight: bold;
}

/* search icon styling*/
.bi-search {
    color: var(--secondary-color);
    font-size: 2rem;
    padding: 0.6rem;
}

.caption-content1,
.caption-content2 {
    /* opacity: 0; */
    padding: 1rem;
    line-height: 6rem;
    color: var(--secondary-color);
    font-size: 2rem;
    position: absolute;
    top: 50%;
    width:100%;
    text-align: center;
}

.caption-link {
    text-decoration: none;
    color: var(--secondary-color);
    border: solid var(--secondary-color);
    padding: 1rem;
}

.caption-link:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.caption-content1 {
    animation: animate1 15s ease-in-out infinite;
}

.caption-content2 {
    animation: animate2 15s ease-in-out infinite;
}

@keyframes animate1 {

    0%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }

    25% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }
}

@keyframes animate2 {

    0%,
    100% {
        transform: translateY(-10rem);
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        transform: translateY(0);
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}

.footer {
    gap: 2.5rem;
    background-color: var(--primary-color);
    height: 20rem;
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.heart-icon {
    color: var(--red-shade-color);
}

.social-media-handles {
    display: flex;
    gap: 2rem;
    font-size: 2rem;
}

.bi-twitter,
.bi-linkedin,.bi-github {
    color: var(--footer-icon-hover-color);
    padding: 1.5rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    border: 1px solid var(--secondary-color);
}

.social-media-handles i:hover {
    background-color: var(--footer-icon-hover-color);
    color: var(--primary-color);
}