.wishlist-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 79vh;
    gap: 5rem;
}

.wishlist-card-container .e-commerce-card {
    color: var(--secondary-color);
}

.dark-theme .box-shadow {
    box-shadow: var(--dark-theme-box-shadow);
}